body {
  background: #000;
  color: #fff;
  overflow-x: hidden; 
}

#message p, #message pre, #tower p, #tower pre {
  font-family: 'VT323', cursive;
  font-size: 18px;
  width: 400px;
}

#message {
  top: 160px;
  width: 420px;
  height: 600px;
  overflow-y: auto;
}

#display {
  padding-left: 4px;
  top: 0px;
  bottom: 0px;
  left: 4px;
  position: absolute;
}

#control {
  float: right;
  width: 500px;
}

#editor {
  width: 500px;
  height: 420px;
  top: 12px;
  bottom: 0px;
  position: absolute;
  clear: both;
}

#buttons {
  top: 0px;
  bottom: 0px;
  right: 0;
  position: absolute;
  padding: 2px;
}

#buttons button {
  float: right;
}

/* Hints */

#hint_message {
  position: absolute;
  top: 450px;
}

#hint_message, #more_hint_message {
  font-family: 'VT323', cursive;
  font-size: 18px;
}

.ability {
  margin-left: 10px;
}

.ability-label {
  margin-bottom: 0;
}

.ability-details {
  margin-top: 0;
  margin-left: 10px;
}