body {
  background: #000;
  color: #fff;
  overflow-x: hidden; 
}

#message p, #message pre, #tower p, #tower pre {
  font-family: 'Courier', 'Andale Mono', cursive;
  font-size: 16px;
  width: 400px;
}

#message {
  top: 160px;
  width: 420px;
  height: 360px;
  overflow-y: auto;
}

#display {
  float: left;
  width: 400px;
  left: 4px;
}

#display .unit {
  padding-left: 20px;
}

#control {
  width: 500px;
  float: left;
}

#editor {
  width: 500px;
  height: 420px;
  top: 26px;
}

#buttons {
  float: right;
}

#buttons button {
}

/* Hints */

#hint_message {
  margin-top: 460px;
}

#hint_message, #more_hint_message {
  font-family: 'Courier', 'Andale Mono', cursive;
  font-size: 16px;
}

#more_hint_message {
  color: #0f0;
}

.ability {
  margin-left: 10px;
}

.ability-label {
  margin-bottom: 0;
  font-style: italic;
}

.ability-details {
  margin-top: 2px;
  margin-left: 10px;
  color: #aaa;
}